.form-cur_path {
    margin: 10px 0px;
}

#cur_path {
    width: 90.123456%;
}

.list {
    margin: 10px 0px;
    width: 95.123456%;
}

.list-item {
    cursor: pointer;
}

.list-item-selected {
    background-color: lightblue
}